<style>
    .ar-menu-active {
        color: #62a8ea;
        background-color: #f3f7f9;
    }
</style>
<div class="page bg-white">
    <!-- Forum Content -->
    <div class="page-main">

        <!-- Forum Content Header -->
        <div class="page-header" style="padding-bottom: 10px;">
            <h1 class="page-title">Paycode Maintenance</h1>
            <div style="padding-top: 10px; padding-bottom: 10px;">
                <button ng-click="savePaycode()" ng-disabled="paycode_form.$invalid || paycode.id" type="button" class="btn btn-success">
                    <i class="icon wb-check" aria-hidden="true"></i> Save
                </button>
                <button ng-click="deletePaycode()" ng-disabled="!paycode.id" type="button" class="btn btn-danger">
                    <i class="icon wb-trash" aria-hidden="true"></i>
                    Delete
                </button>
                <button ng-click="updatePaycode()" ng-disabled="!paycode.id" type="button" class="btn btn-primary" disabled>
                    <i class="icon wb-refresh" aria-hidden="true" style="color: white;"></i>
                    Update
                </button>
                <button ng-click="clearPaycodeForm()" type="button" class="btn btn-warning">
                    <i class="icon wb-order" aria-hidden="true" style="color: white;"></i>
                    Clear
                </button>
                <button ui-sref="dashboard" type="button" class="btn btn-default" style="margin-left: 20px;">
                    <i class="icon wb-close" aria-hidden="true"></i>
                    Close
                </button>

            </div>
        </div>

        <hr style="margin-top:0px;">

        <div class="page-content page-content-table">

            <div class="col-md-5">
                <div class="panel panel-bordered panel-dark" style="border-style: solid; border-width: 1px;">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="padding-top: 10px; padding-bottom: 10px;">&nbsp;</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">

                            <div class="col-md-12" style="padding: 0px; padding-top: 10px;">
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 5px;">
                                    <label class="control-label">Paycode NO</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <div class="input-search">
                                            <button ng-click="openPaycodeModal()" type="button" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                                            <input ng-model="paycode.cpaycode" type="text" class="form-control" placeholder="Search Paycode">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px; padding-top: 10px;">
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 10px;">
                                    <label class="control-label">Description</label>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <input ng-model="paycode.cdescript" type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-12" style="padding: 0px; padding-top: 10px;">
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 5px;">
                                    <label class="control-label">Bank</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <div class="input-search">
                                            <button type="button" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                                            <input ng-model="paycode.cbankno" type="text" class="form-control" placeholder="Search Bank">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px; padding-top: 10px;">
                                <div class="col-md-3 col-sm-3 col-xs-3" style="padding-top: 10px;">
                                    <label class="control-label">Paycode Type</label>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <select ng-init="paycode.npaytype = '1'" class="form-control" ng-options="type for type in paycode_type_list" ng-model="paycode.npaytype"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<ng-include src="'modules/maintenance/paycode/SelectPaycodeModal.html'"></ng-include>
