<div id="SelectPaycodeModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Paycode</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Paycode NO</th>
                                    <th>Description</th>
                                    <th>Bank NO</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-click="selectPaycode(current_paycode)" ng-repeat='current_paycode in paycode_list'>
                                    <td>{{current_paycode.cpaycode}}</td>
                                    <td>{{current_paycode.cdescript}}</td>
                                    <td>{{current_paycode.cbankno}}</td>
                                    <td>{{current_paycode.npaytype}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
