<div class="page-content page-content-table">

    <div class="col-sm-6">
        <div class="panel panel-bordered panel-dark" style="border-style: solid; border-width: 1px;">
            <div class="panel-heading">
                <h3 class="panel-title" style="padding-top: 10px; padding-bottom: 10px;">Ordering Address</h3>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                       <div style="padding-bottom: 15px;">
                            <label class="control-label">Addr. #</label>
                            <div class="form-group">
                                <div class="input-search">
                                    <button type="button" class="input-search-btn" "><i class="icon wb-search"></i></button>
                                    <input ng-model="" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div style="padding-bottom: 15px;">
                            <label class="control-label">Company</label>
                            <input ng-value="" type="text" class="form-control" />
                        </div>
                        <div style="padding-bottom: 15px;">
                            <label class="control-label">Address</label>
                            <input ng-value="customer.caddr1" type="text" class="form-control" />
                            <input ng-value="" type="text" class="form-control" />
                        </div>
                        <div style="padding-bottom: 15px;">
                            <label class="control-label">City</label>
                            <input ng-value="" type="text" class="form-control" />
                        </div>
                        <div class="col-md-12" style="padding: 0px; padding-bottom: 15px;">
                            <div class="col-md-6" style="padding-left: 0px;">
                                <label class="control-label">State</label>
                                <input ng-value="" type="text" class="form-control" />
                            </div>
                            <div class="col-md-6" style="padding-right: 0px;">
                                <label class="control-label">zip</label>
                                <input ng-value="" type="text" class="form-control" />
                            </div>
                        </div> <div style="padding-bottom: 15px;">
                            <label class="control-label">Contact</label>
                            <input ng-value="" type="text" class="form-control" />
                        </div>
                        <div style="padding-bottom: 15px;">
                            <label class="control-label">Phone</label>
                            <input ng-value="" type="text" class="form-control" />
                        </div>
                </div>
            </div>
                  
                   
        </div>
    </div>

   <div class="col-sm-6">
        <div class="panel panel-bordered panel-dark" style="border-style: solid; border-width: 1px;">
            <div class="panel-heading">
                <h3 class="panel-title" style="padding-top: 10px; padding-bottom: 10px;">Shipping Address</h3>
            </div>
            <div class="panel-body">
                <div class="form-group row">
                        <div style="padding-bottom: 15px;">
                            <input type="checkbox" style="display: inline;" ng-model="" />
                            <label class="control-label">Use SO Shipping Address</label>
                        </div>
                        <div style="padding-bottom: 15px;">
                            <label class="control-label">Company</label>
                            <input ng-value="" type="text" class="form-control" />
                        </div>
                        <div style="padding-bottom: 15px;">
                            <label class="control-label">Address</label>
                            <input ng-value="customer.caddr1" type="text" class="form-control" />
                            <input ng-value="" type="text" class="form-control" />
                        </div>
                        <div style="padding-bottom: 15px;">
                            <label class="control-label">City</label>
                            <input ng-value="" type="text" class="form-control" />
                        </div>
                        <div class="col-md-12" style="padding: 0px; padding-bottom: 15px;">
                            <div class="col-md-6" style="padding-left: 0px;">
                                <label class="control-label">State</label>
                                <input ng-value="" type="text" class="form-control" />
                            </div>
                            <div class="col-md-6" style="padding-right: 0px;">
                                <label class="control-label">zip</label>
                                <input ng-value="" type="text" class="form-control" />
                            </div>
                        </div>
                        <div style="padding-bottom: 15px;">
                            <label class="control-label">Contact</label>
                            <input ng-value="" type="text" class="form-control" />
                        </div>
                        <div style="padding-bottom: 15px;">
                            <label class="control-label">Phone</label>
                            <input ng-value="" type="text" class="form-control" />
                        </div>
                </div>
            </div>
                  
                   
        </div>
    </div>
    <div class="col-sm-offset-6 col-sm-6  ">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group row">
                    <div style="padding-bottom: 15px;">
                            <label class="control-label">Sales Tax</label>
                            <div class="form-group">
                                <div class="input-search">
                                    <button type="button" class="input-search-btn" ng-click=""><i class="icon wb-search"></i></button>
                                    <input ng-model="" ng-disabled="" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Import Modals -->

