<div id="SelectInvoiceModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Invoice</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer</th>
                                    <th>Currency</th>
                                    <th>Paycode</th>
                                    <th>Balance</th>
                                    <th>Address</th>
                                    <th>Invoice Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-click="selectInvoice(invoice)" ng-repeat='invoice in invoice_list'>
                                    <td>{{invoice.cinvno}}</td>
                                    <td>{{invoice.ccustno}}</td>
                                    <td>{{invoice.ccurrcode}}</td>
                                    <td>{{invoice.cpaycode}}</td>
                                    <td>{{invoice.nbalance}}</td>
                                    <td>{{invoice.cbaddr1}}</td>
                                    <td>{{invoice.dinvoice}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
