<div class="modal fade" id="EditUserGroupModal" ng-controller="EditUserGroupController" aria-hidden="true" aria-labelledby="addGroupModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">Edit Group</h4>
            </div>
            <div class="modal-body container-fluid" style="padding-bottom: 0px;">
                <form ng-submit="submitEditGroup()">
                    <div class="form-group form-material">
                        <label class="control-label" for="group_name">Group to edit</label>
                        <select ng-model="edit_selected_smusergroup" ng-options="group.name for group in smusergroup_list" ng-change="selectUserGroup()" class="form-control">
                        </select>
                    </div>
                    <div class="form-group form-material">
                        <label class="control-label" for="group_name">Group name</label>
                        <input ng-model="usergroup_edit_form.name" type="text" class="form-control" id="group_name" name="group_name" placeholder="Group name, example: Workers" />
                    </div>
                    <div class="form-group form-material col-md-6">
                        <label class="control-label" for="inputText"><strong>Companies</strong></label>

                        <input ng-model="company_search_query" type="text" class="form-control" placeholder="Search by ID or NAME">
                        <div class="table-responsive" style="height:250px; overflow:auto;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-click="selectCompany(company)" ng-repeat="company in usergroup_edit_form.company_list | filter:company_search_query" style="cursor: pointer">
                                        <td>{{company.cid}}</td>
                                        <td>{{company.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group form-material col-md-6">
                        <label class="control-label" for="inputText">
                            <strong>Auth modules</strong>
                            <strong ng-show="selected_company">for: <u>{{selected_company.name}}</u></strong>
                        </label>

                        <input ng-model="group_search_query" type="text" class="form-control" placeholder="Search by CODE, MODULE or NAME">
                        <div class="table-responsive" style="height:250px; overflow:auto;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Module</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-click="rowClick(module)" ng-repeat="module in selected_company.modules | filter:group_search_query" style="cursor: pointer">
                                        <td>
                                            <input ng-click="rowClick(module)" type="checkbox" ng-model="module.selected">
                                        </td>
                                        <td>{{module.code}}</td>
                                        <td>{{module.module}}</td>
                                        <td>{{module.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group form-material col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">Days</label>
                            <div class="col-md-12" style="padding: 0px;">
                                <div class="col-md-6">
                                    <div class="checkbox-custom checkbox-primary">
                                        <input ng-model="usergroup_edit_form.day_sun" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" id="day_sun" ng-checked="usergroup_edit_form.day_sun">
                                        <label for="day_sun">Sun</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input ng-model="usergroup_edit_form.day_mon" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" id="day_mon" ng-checked="usergroup_edit_form.day_mon">
                                        <label for="day_mon">Mon</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input ng-model="usergroup_edit_form.day_tue" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" id="day_tue" ng-checked="usergroup_edit_form.day_tue">
                                        <label for="day_tue">Tue</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input ng-model="usergroup_edit_form.day_wed" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" id="day_wed" ng-checked="usergroup_edit_form.day_wed">
                                        <label for="day_wed">Wed</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox-custom checkbox-primary">
                                        <input ng-model="usergroup_edit_form.day_thu" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" id="day_thu" ng-checked="usergroup_edit_form.day_thu">
                                        <label for="day_thu">Thu</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input ng-model="usergroup_edit_form.day_fri" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" id="day_fri" ng-checked="usergroup_edit_form.day_fri">
                                        <label for="day_fri">Fri</label>
                                    </div>
                                    <div class="checkbox-custom checkbox-primary">
                                        <input ng-model="usergroup_edit_form.day_sat" ng-true-value="'1'" ng-false-value="'0'" type="checkbox" id="day_sat" ng-checked="usergroup_edit_form.day_sat">
                                        <label for="day_sat">Sat</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label" for="inputText">Hour</label>
                            <div class="col-md-12" style="padding: 0px;">
                                <div class="col-md-6">
                                    <div class="form-group form-material">
                                        <label for="login_start">Start</label>
                                        <input ng-model="usergroup_edit_form.login_start" type="text" class="form-control" id="login_start" name="login_start" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-material">
                                        <label for="login_end">End</label>
                                        <input ng-model="usergroup_edit_form.login_end" type="text" class="form-control" id="login_end" name="login_end" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
                            <button type="submit" class="btn btn-block btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
