<style>
    .ar-menu-active {
        color: #62a8ea;
        background-color: #f3f7f9;
    }
</style>
<div class="page bg-white">
    <!-- Forum Sidebar -->
    <div class="page-aside">
        <div class="page-aside-switch">
            <i class="icon wb-chevron-left" aria-hidden="true"></i>
            <i class="icon wb-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner">
            <section class="page-aside-section">
                <h5 class="page-aside-title">Customer Forms</h5>
                <div >
                    <a ui-sref="customer_information" class="list-group-item">
                        <i class="icon wb-info" aria-hidden="true"></i>
                        <span class="list-group-item-content">Information</span>
                    </a>
                    <a ui-sref="customer_contact" class="list-group-item">
                        <i class="icon wb-users" aria-hidden="true"></i>
                        <span class="list-group-item-content">Contact</span>
                    </a>
                    <a ui-sref="customer_notepad" class="list-group-item">
                        <i class="icon wb-pencil" aria-hidden="true"></i>
                        <span class="list-group-item-content">Notepad</span>
                    </a>
                    <a ui-sref="customer_analysis" class="list-group-item">
                        <i class="icon wb-stats-bars" aria-hidden="true"></i>
                        <span class="list-group-item-content">Analisis</span>
                    </a>
                    <a ui-sref="customer_settings" class="list-group-item">
                        <i class="icon wb-settings" aria-hidden="true"></i>
                        <span class="list-group-item-content">Settings</span>
                    </a>
                    <a ui-sref="customer_gl_accounts" class="list-group-item">
                        <i class="icon wb-order" aria-hidden="true"></i>
                        <span class="list-group-item-content">GL Accounts</span>
                    </a>
                </div>
            </section>
        </div>
    </div>
    <!-- Forum Content -->
    <div class="page-main">

        <!-- Forum Content Header -->
        <div class="page-header" style="padding-bottom: 10px;">
            <h1 class="page-title">Customer Manager</h1>
            <div style="padding-top: 10px; padding-bottom: 10px;">
                <button ng-disabled="!customer.ccustno" ng-click="saveCustomer()" type="button" class="btn btn-success">
                    <i class="icon wb-check" aria-hidden="true"></i> Save
                </button>
                <button ng-click="deleteCustomer()" ng-disabled="!customer.id" type="button" class="btn btn-danger">
                    <i class="icon wb-trash" aria-hidden="true"></i> Void
                </button>
                <button ng-click="copyCustomer()" ng-disabled="1" type="button" class="btn btn-primary">
                    <i class="icon wb-loop" aria-hidden="true" style="color: white;"></i>
                    Update
                </button>
                <button ng-click="clearCustomer()" type="button" class="btn btn-warning">
                    <i class="icon wb-order" aria-hidden="true" style="color: white;"></i>
                    Clear
                </button>
                <button ui-sref="dashboard" type="button" class="btn btn-default" style="margin-left: 20px;">
                    <i class="icon wb-close" aria-hidden="true"></i>
                    Close
                </button>
            </div>
            <div style="padding-top: 10px; padding-bottom: 10px;">
                <div style="display: inline;">
                    <select
                        ng-model="customer_action"
                        ng-init="customer_action = customer_method_list[0]"
                        ng-options="method for method in customer_method_list"
                        ng-change="clearCustomer()"
                        class="form-control"
                        style="width: 200px; display: inline;">
                    </select>
                </div>
                <div ng-if="customer_action == 'amend'" style="display: inline; padding-left: 20px;">
                    <label style="display: inline; font-size: large;" for="customer">Customer #:</label>
                    <select
                        class="form-control"
                        style="width: 200px; display: inline;"
                        ng-options="customer as customer.ccustno for customer in customer_list"
                        ng-model="selected_customer"
                        ng-change="updateCustomerData(selected_customer)">
                    </select>
                </div>
                <div style="display: inline; padding-left: 20px;">
                    <input class="form-control" type="text" ng-model="invoice.customer.ccompany" readonly style="width: 300px; display: inline;"/>
                </div>
                <div ng-if="invoice_action == 'amend'" class="pull-right" style="display: inline;">
                    <label style="display: inline; font-size: large; height: 36px;" for="invoice_action"><strong>Invoice #:</strong></label>
                    <input ng-model="amend_invoice.invoice_to_search" ng-keydown="$event.which === 13 && searchInvoice()" class="form-control" type="text" style="width: 100px; display: inline;"/>
                </div>
            </div>
        </div>

        <hr style="margin-top:0px;">

        <div ui-view="customer_setup_content"></div>
    </div>
</div>

<!-- <ng-include src="'app/components/group/addGroupModal.html'"></ng-include> -->
