<div id="SelectSaleTaxModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Salex Tax</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Tax code</th>
                                    <th>Description</th>
                                    <th>Tax rate</th>
                                    <th>For currency</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-click="selectTax(tax)" ng-repeat='tax in saletax_list'>
                                    <td>{{tax.ctaxcode}}</td>
                                    <td>{{tax.cdescript}}</td>
                                    <td>{{tax.ntaxrate1}}</td>
                                    <td>{{tax.currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
