<div id="SelectSalesPersonModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Sales Person</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Sales Person #</th>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-click="selectSalesPerson(salesperson)" ng-repeat='salesperson in salesperson_list'>
                                    <td>{{salesperson.cslpnno}}</td>
                                    <td>{{salesperson.cname}}</td>
                                    <td>{{salesperson.ctitle}}</td>
                                    <td>{{salesperson.cstatus}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
