<div id="SelectSalestaxModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Select Sales Tax</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table datatable="ng" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Tax code</th>
                                    <th>Description</th>
                                    <th>Entity 1</th>
                                    <th>Tax Acc 1</th>
                                    <th>tax rate 1</th>
                                    <th>Currency</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-click="selectSalestax(current_saletax)" ng-repeat='current_saletax in salestax_list'>
                                    <td>{{current_saletax.ctaxcode}}</td>
                                    <td>{{current_saletax.cdescript}}</td>
                                    <td>{{current_saletax.centity1}}</td>
                                    <td>{{current_saletax.cstaxacc1}}</td>
                                    <td>{{current_saletax.ntaxrate1}}</td>
                                    <td>{{current_saletax.currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
